@use '../Global/' as *;

.p-topPickup {
  margin-top: 8px;
}

.p-topPickup__slider {

  &.splide {
    aspect-ratio: 16 / 9;
    width: 80%;
    max-width: 960px;
    margin-inline: auto;
  }

  .splide__track {
    overflow: visible;
  }

  .splide__list {
  }

  .splide__slide {
    border-radius: 12px;
    overflow: hidden;
  }

  .splide__toggle {
    width: 16px;
    display: flex;
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
  }

  .splide__toggle__play {
  }

  .splide__toggle__pause {
  }

  .splide__progress {
  }

  .splide__arrow {
    opacity: 1;
    width: 64px;
    height: 64px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px rgba(33, 33, 33, 0.02);

    &--prev {
      left: -5%;
    }

    &--next {
      right: -5%;
    }
  }

  .splide__progress__bar {
    height: 3px;
    background-color: unset;
    background-image: linear-gradient(to right, var(--light-blue) 0%, var(--blue) 100%);
    border-radius: 3px;
  }

  .splide__pagination {
    --progress: 0%;
    position: static;
    display: flex;
    justify-content: center;
    column-gap: 6px;
    padding: 0;

    > li {
      display: flex;
    }
  }

  .splide__pagination__page {
    opacity: 1;
    margin: 0;
    background-color: var(--light-blue);
    border-radius: 50vh;
    position: relative;
    overflow: hidden;
    transition: width 0.3s ease;

    &.is-active {
      transform: unset;
      background-color: var(--light-blue);
      width: 48px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--progress);
        height: 100%;
        border-radius: 50vh;
        background-color: var(--blue);
      }
    }
  }
}

.p-topPickup__slideFrame {
  display: flex;
  align-items: center;
  aspect-ratio: 16 / 9;
  border: 16px solid var(--blue);
  position: relative;
  z-index: 0;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: calc(-1 * var(--border-width));
  //   left: calc(-1 * var(--border-width));
  //   width: calc(100% + var(--border-width) * 2);
  //   height: calc(100% + var(--border-width) * 2);
  //   border-radius: 10px;
  //   // background-image: linear-gradient(60deg, var(--light-blue) 0%, var(--blue) 100%);
  //   background-color: var(--blue);
  //   z-index: -1;
  //   pointer-events: none;
  //   transition: opacity 0.3s ease;
  // }
}

.p-topPickup__slideContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: var(--white);
  border-radius: 8px;
}

.p-topPickup__slideTitle {
  font-size: rem(32);
  font-weight: bold;
  letter-spacing: 0.025em;

  &::first-letter {
    color: var(--blue);
  }
}

.p-topPickup__slideNav {
  width: fit-content;
  margin-top: 24px;
  margin-bottom: 8px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  position: relative;
}

.p-topCategory {
  margin-top: 80px;
}

.p-topCategory__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.p-topCategory__title {
  font-size: rem(24);
  font-weight: bold;
  padding-bottom: 8px;
  position: relative;

  &::first-letter {
    color: var(--blue);
  }

  &::after {
    content: '';
    width: 48px;
    height: 4px;
    background-color: var(--blue);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
  }
}

.p-topCategory__list {
  margin-top: 32px;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.p-topCategory__item {
}

.p-topCategory__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(14);
  font-weight: bold;
  line-height: 1;
  background-color: rgba(229, 229, 229, 0.5);
  border: 1px solid var(--black);
  border-radius: 50vh;
  padding: 6px 16px;
  transition: border-color 0.2s ease, color 0.2s ease;

  @include hover {
    border-color: var(--blue);
    color: var(--blue);
  }
}

