@use '../Global/' as *;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: $basefontsize + px;
  font-family: $font-family;
}

/* Define a transition duration during page visits */
html.is-changing .transition-fade {
  transition: opacity 500ms;
  opacity: 1;
}

/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
  opacity: 0;
}


body {
  background-color: var(--white);
  color: var(--black);
  overflow-x: clip;
}

main {
  overflow-x: hidden;

  flex: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;

  @include font-default;
}

a {
  color: inherit;
  text-decoration: none;
}

*[lang='en'] {
  font-weight: 400;
  font-style: normal;
  font-family: $font-familyEN;
}
