@use '../Global/' as *;

.l-footer {
  margin-top: 160px;
  padding-block: 56px 32px;
  background-color: var(--black);
}

.l-footer__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.l-footer__frame {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  column-gap: 20px;
}

.l-footer__logo {
  width: fit-content;
  font-size: rem(20);
  font-weight: bold;
  color: var(--white);
  transition: opacity 0.2s ease;

  @include hover {
    opacity: 0.7;
  }
}

.l-footer__nav {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.l-footer__navItem {
}

.l-footer__navLink {
  font-size: rem(14);
  color: var(--white);
  transition: opacity 0.2s ease;

  @include hover {
    opacity: 0.7;
  }
}

.l-footer__copy {
  margin-top: 48px;
  font-size: rem(12);
  text-align: center;
  color: var(--white);
}
