@use "../Global/" as *;

.l-header {
  width: calc(100% - 32px);
  position: fixed;
  top: 8px;
  left: 16px;
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 8px 8px 8px 16px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  position: relative;
}

.l-header__logoFrame {
  display: flex;
}

.l-header__logo {
  font-size: rem(20);
}

.l-header__navFrame {
  width: 40px;
  height: 40px;
  padding-top: 28px;
  background-color: var(--blue);
  border-radius: 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease;
}

.l-header__navList {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 20px;
  position: absolute;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.l-header__navItem {
  border-bottom: 1px solid var(--white);
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.3s ease 0s;
}

.l-header__navLink {
  display: flex;
  flex-direction: column;
  height: calc(1.6em + 8px);
  padding-block: 4px;
  padding-left: 2px;
  font-size: rem(14);
  color: var(--white);
  position: relative;
  overflow: hidden;

  &::after {
    content: attr(data-text);
    transform: translateY(4px);
    transition: transform 0.2s ease;
  }

  span {
    transition: transform 0.2s ease;
  }

  svg {
    width: 6px;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
  }

  @include hover {

    span {
      transform: translateY(-1.6em);
    }

    &::after {
      transform: translateY(-1.6em);
    }
  }
}

.l-header__menuButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: var(--blue);
  position: relative;
  z-index: 1;
  transition: border-radius 0.3s ease;

  span {
    display: block;
    width: 16px;
    height: 1px;
    background-color: var(--white);
    transition: transform 0.3s ease;
  }

  @include hover {
    border-radius: 10px;
  }
}

.menu-open {
  overflow: hidden;

  .l-header__navFrame {
    width: 240px;
    height: 200px;
  }

  .l-header__navList {
    opacity: 1;
    visibility: visible;
  }

  .l-header__navItem {
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.3s ease 0.45s;
  }

  .l-header__menuButton {

    span {

      &:first-child {
        transform: translateY(5px);
      }

      &:last-child {
        transform: translateY(-5px);
      }
    }

    @include hover {
      border-radius: 6px;
    }
  }
}