@use '../Global/' as *;

.l-mouseStalker {
  width: 16px;
  height: 16px;
  background-color: rgba(122, 122, 122, 0.2);
  box-shadow: inset 0 0 10px rgb(255 255 255 / 60%);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  pointer-events: none;
  overflow: hidden;
  transition: width 0.2s ease, height 0.2s ease, box-shadow 0.2s ease, backdrop-filter 0.2s ease;

  &::after {
    content: 'Click';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(16);
    color: var(--white);
    font-weight: 500;
    clip-path: circle(0 at 50% 50%);
    transition: clip-path 0.2s ease;
  }

  &.is-hover {
    width: 96px;
    height: 96px;

    &::after {
      clip-path: circle(96px at 50% 50%);
    }
  }

  &.is-click {
    width: 80px;
    height: 80px;

    // &::after {
    //   content: '!';
    // }
  }
}
