@use '../Global/' as *;

.l-siteWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 64px;
}

.l-siteWrapper-overlay {
}

main {
  flex: 1;
}

.transition-main {
  transition-property: opacity, transform, filter;
  transition-duration: 600ms;
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
}

html.is-animating .transition-main {
  opacity: 0;
  transform: translateX(-48px);
  filter: blur(4px);
}

html.is-leaving .transition-main {
  transform: translateX(48px);
  filter: blur(4px);
}

html.is-animating.to-left .transition-main {
  opacity: 0;
  transform: translateX(48px);
  filter: blur(4px);
}

html.is-leaving.to-left .transition-main {
  transform: translateX(-48px);
  filter: blur(4px);
}

.transition-overlay {
  width: 48px;
  height: 48px;
  background-image: linear-gradient(
    to right,
    var(--light-blue) 0%,
    var(--blue) 100%
  );
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease, visibility 0.15s ease;
}

.transition-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  animation: sk-rotateLast 0.4s forwards ease-in-out;
}

.transition-overlay.is-last {
  opacity: 1;
  visibility: visible;
  animation: sk-rotateFirst 0.4s forwards ease-in-out;
}

@keyframes sk-rotateFirst {
  0% {
    transform: translate(-50%, -50%) perspective(120px) rotateX(0deg)
      rotateY(0deg);
  }
  100% {
    transform: translate(-50%, -50%) perspective(120px) rotateX(0deg)
      rotateY(180.1deg);
  }
}

@keyframes sk-rotateLast {
  0% {
    transform: translate(-50%, -50%) perspective(120px) rotateX(0deg)
      rotateY(180.1deg);
  }
  100% {
    transform: translate(-50%, -50%) perspective(120px) rotateX(0deg)
      rotateY(360deg);
  }
}
