<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__frame">
      <a href="/" class="l-footer__logo">ブロックテーマ開発 ブログ</a>
      <ul class="l-footer__nav">
        <li class="l-footer__navItem">
          <a href="/" class="l-footer__navLink">ホーム</a>
        </li>
        <li class="l-footer__navItem">
          <a href="/about" class="l-footer__navLink">アバウト</a>
        </li>
        <li class="l-footer__navItem">
          <a href="/contact" class="l-footer__navLink">コンタクト</a>
        </li>
      </ul>
    </div>
    <p class="l-footer__copy">
      © 2025 ブロックテーマ開発 ブログ. All rights reserved.
    </p>
  </div>
</footer>
